@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    color: #2c3e50;
    font-size: 3em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

p {
    color: #7f8c8d;
    font-size: 1.2em;
    margin: 10px 0;
}

.category {
    margin-bottom: 30px;
    border-radius: 20px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.category:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    transform: translateY(-5px);
}

.category-header {
    background: #2980b9;
    color: #ffffff;
    padding: 25px;
    cursor: pointer;
    font-size: 1.8em;
    font-weight: 600;
    border-bottom: 2px solid #1f6394;
    position: relative;
    transition: background-color 0.3s ease;
    text-align: center;
}

.category-header:hover {
    background-color: #1f6394;
}

.category-header::after {
    content: '▼';
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.4em;
    transition: transform 0.3s ease;
}

.category-content {
    display: none;
    padding: 20px;
    background: #ecf0f1;
}

.category-content .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrează butoanele pe axa orizontală */
    align-items: center; /* Centrează butoanele pe axa verticală */
    gap: 20px; /* Spațiu între butoane */
}

.category-content a {
    text-decoration: none;
    color: #ffffff;
    background-color: #e67e22;
    font-weight: 500;
    font-size: 1.2em;
    transition: background-color 0.3s ease, transform 0.3s ease;
    padding: 15px 20px;
    border-radius: 25px;
    display: inline-block;
    margin: 10px; /* Spațiu între butoane */
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;
}

.category-content a:hover {
    background-color: #d35400;
    transform: translateY(-3px);
    border-color: #c0392b;
}

.category-title {
    margin: 20px;
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 2em;
    }

    .category-header {
        font-size: 1.5em;
    }

    .category-content a {
        font-size: 1em;
        padding: 10px 15px;
        margin: 10px; /* Spațiu mai mic pe versiuni mobile */
    }
}
